BOT_TOKEN=8128380414:AAHK4EwWcWELj16hgdH4pmlzRhocyo3auwo
CHANNEL_ID=-1003762685900
SUPER_ADMIN_IDS=
ADMIN_IDS=
REDIS_URL=rediss://default:gQAAAAAAATdMAAIncDJhYWRkYTEzMzNhZGM0NzY1OWFiYWY2M2EzNmZmMjUyY3AyNzk2OTI@sunny-midge-79692.upstash.io:6379
DB_HOST=dpg-d6us2sn5gffc73cvejc0-a
DB_PORT=5432
DB_NAME=nukus_mangit_db
DB_USER=nukus_mangit_db_user
DB_PASS=lE2955wANE9WBrrL9y6h8bbkiAYFfg6A
Internal_Database_URL=postgresql://nukus_mangit_db_user:lE2955wANE9WBrrL9y6h8bbkiAYFfg6A@dpg-d6us2sn5gffc73cvejc0-a/nukus_mangit_db
*271397283